POSTGRES_DB=cyberstream
POSTGRES_USER=cyberstream
POSTGRES_PASSWORD=cyberstream_secret_2026
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
JWT_SECRET_KEY=your-secret-key-change-in-production
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=60
HDFS_NAMENODE_URL=http://namenode:9870
EVENT_GENERATOR_URL=http://event-generator:8001
REDIS_URL=redis://redis:6379
